

/*******************************************/
.content_2{
margin:25px auto;
width:900px;
min-height:100px;/*РАЗМЕР БУДЕТ РЕГУЛИРОВАТЬСЯ ПОД КОЛИЧЕСТВА ПРЕДМЕТОВ*/
background:#060606;
background-repeat:no-repeat;
background-position:center;
/*border:2px solid white;*/

}/*Шоп*/
.block{
text-align:center;
width:550px;
margin:0 auto;
padding:0px 0px 10px 0px;
background-color: rgba(69,69,69, 0.5);
}/*Блок выбора производителя*/
.products{
width:100%;
display:flex;
flex-wrap:wrap;
justify-content:center;
min-height:100px;/*РАЗМЕР БУДЕТ РЕГУЛИРОВАТЬСЯ ПОД КОЛИЧЕСТВА ПРЕДМЕТОВ*/
}
.watch{
background:black;
border:1px solid rgba(207, 181, 59, 0.6);
height:285px;
width:200px;
margin:10px;
text-align:center;
}

.p_photo{
height:200px;
width:150px;
/*Фотографии товаров*/
}

.description{
width:200px;
height:80px;
border-top:1px solid rgba(207, 181, 59, 0.6);
/*text-align:left;*/
}
.description:hover{
transition:0.3s;
background:rgba(207, 181, 59, 0.2)
}
.description:active{
transition:0.1s;
background:rgba(207, 181, 59, 0.6);
}
.list li{
padding:10px;

}
.list li:hover{
transition:.8s;
background:rgba(255, 255, 255, 0.3);
}
.list li:active{
background:rgba(255, 255, 255, 0.7);
transition:.1s;
}